@charset "utf-8";
/*
   
   Style Sheet for Grids used in the Pandaisia Chocolates website
   Author: Ignacio Lopez
   Date:   9/7/2023
   
   Filename: pc_grids.css

*/


/* Grid Rows Styles */




/* Grid Columns Styles */




/* Grid Outline Styles */

