@charset "utf-8";

/*
   Style Sheet for the Layout of the Pandaisia Chocolates Home Page
   Author: Ignacio lopez
   Date:   9/7/2023
   
   Filename: pc_home.css

*/

/****** Body Styles ******/
/****** ^^^^^^^^^^^ ******/


/****** Body Header Styles ******/
/****** ^^^^^^^^^^^^^^^^^^ ******/



/****** Horizontal Navigation Styles ******/
/****** ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ ******/


/****** Left Column Styles ******/
/****** ^^^^^^^^^^^^^^^^^^ ******/



/****** Right Column Styles ******/
/****** ^^^^^^^^^^^^^^^^^^^ ******/




/****** Footer Styles ******/
/****** ^^^^^^^^^^^^^ ******/
