@charset "utf-8";

/*
   Style Sheet for the Layout of the Pandaisia Chocolates Home Page
   Author: Ignacio lopez
   Date:   9/7/2023
   
   Filename: pc_home.css

*/

/****** Body Styles ******/
/****** ^^^^^^^^^^^ ******/
body {
   max-width: 960px;
   min-width: 640px;
   width: 95%;
}

/****** Body Header Styles ******/
/****** ^^^^^^^^^^^^^^^^^^ ******/
body > header > img {
   display: block;
}

/****** Horizontal Navigation Styles ******/
/****** ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ ******/


/****** Left Column Styles ******/
/****** ^^^^^^^^^^^^^^^^^^ ******/


/****** Right Column Styles ******/
/****** ^^^^^^^^^^^^^^^^^^^ ******/


/****** Footer Styles ******/
/****** ^^^^^^^^^^^^^ ******/