@charset "utf-8";

/*
   Reset Style Sheet for the Pandaisia Chocolates Website
   Author: Ignacio Lopez
   Date:   9/7/2023
   
   Filename: pc_reset.css

*/

/* Structural Styles */




/* Typographic Styles */

